body{
  font-family:"Open Sans", Helvetica, Arial;
  }
  
  .article{
    & &-header {
      background: #ffffff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); // height:72px;
      padding: 20px 0px;
      &-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        width: 100%;
      }
      .zoom-logo {
        height: 25px;
      }
    }
  
    &-content{
        text-align:center;
        padding-top:50px;
    }
    
    &-config-content{
    padding-top:50px;
    }
    
    &-form-content{
    padding-left: 20%;
    width: 60%;
    }
    
    &-form-field{
    padding-bottom: 30px;
    }
  
  }
  
  