<!DOCTYPE html>
<html lang="en">


<body>
  <p>oauth disclaimer</p>
  <form action="https://udnkid8j5e.execute-api.us-east-1.amazonaws.com/dev/authservice/returnOauthURL">
      <input type="hidden" name="appname" value={{{appname}}} />
      <input type="submit" value="Click to oauth" />
  </form>
</body>

</html>