<!DOCTYPE html>
<html lang="en">


<body>
  <p>redirecting you to chatbot</p>
  <form action="https://udnkid8j5e.execute-api.us-east-1.amazonaws.com/dev/authservice/validateoauthsession">
      <input type="hidden" name="appname" value={{{appname}}} />
      <input type="hidden" name="code" value={{{code}}} />
      <input type="hidden" name="state" value={{{state}}} />
      <input type="submit" value="Click to oauth" />
  </form>
</body>

</html>