<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="theme-color" content="#000000">
  <meta name="referrer" content="origin">
  <link rel="shortcut icon" href="//nodebotszoom.s3.amazonaws.com/standard/zoom_16_square.ico">
  <title>{{app}}</title>
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"/>

</head>

<body>
  <div id="root"></div>
  <p>{{csrf}}</p>
  <script src='./scripts/main.js'></script>
</body>

</html>